.body{
    font-family: "Lato", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar {
    height: 5rem ;
    background-color: white;
}

.fa-people-roof{
    color: brown;
    font-size: 2rem ;

}

.nav-link {
    font-size: 1.2rem ;
    color :#222222 !important;
}

/* footer style */
.f-info-links a {
    text-decoration: none;
    color: #222222 ;

}

.f-info-links a:hover {
    text-decoration:underline;
    color: #222222 ;
    
}

.f-info-socials, .f-info-links.f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-left:1rem ;
    color: #222222 ;
    font-size: 1.2rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-self: space-evenly;
    display:flex;

}


/*card*/

.card {
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body p{
    padding:0 !important;

}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
    color: black !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    background-color: rgb(255, 237, 237);
    opacity: 0.2;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}